@import "@material/chips/mdc-chips";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.mdc-typography--headline6{
      color:$font-color4;
      letter-spacing: 1px;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .mdc-typography--subtitle2{
      margin-top: 4px;
      text-transform: uppercase;
      color:$font-color1;
  }
  .m16{
      margin-top: 16px;
      margin-bottom:16px;
  }
  .mdc-chip{
      border-radius:7px;
      display: inline-block;
      min-height: 60px;
  }
  .blue{
     color: $font-color4
  }
  .container{
      padding: 16px;
  }
  ul{
    list-style-type: none;
    padding: 0px;
  }
  .mdc-list-item__graphic{
      padding-right: 12px;
      vertical-align: bottom;
  }
.mdc-typography--headline3{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mdc-dialog .mdc-dialog__content{
      padding: 0px
  }
.mdc-icon-button__icon{
    vertical-align: bottom;
  }

.mdc-checkbox__native-control{
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.mdc-list-item{
    margin-bottom: 16px;
}

h1{
    font-size: 50px;
    color: $font-color4;
}

.drawer {
    position: absolute;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    z-index: 99;
    left: 0;
    height: 0px;
    overflow:hidden;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-top:400px;
    color: $font-color2;
    font-family: $mdc-typography-font-family;
}

.transition {
    margin-top:221px;
    height:300px;
	padding-top: 10px;
}

.command-list { 
    padding-left: 16px;
}

.drawer.closed {
	max-height: 0;
}

.disabled {
    background-color: #cccccc !important
}
.mdc-icon-button {
    width: 24px;
    height: 24px;
    color:$font-color1;
    margin-top: 30px;  
}



.close{
    padding: 0px;
    width: 24px;
    height: 24px;
    color:$font-color1;
    margin-top: 30px;
}
.mdc-list{
    margin-top: 32px;
}
.mdc-dialog__actions{
    justify-content: center;
    padding-bottom: 24px;
    padding-top: 24px;
}
.text{
    margin-left: 12px;
    width: 80%;
    display: inline-block;
}
.command-list { 
    padding-left: 16px;
    margin-top: 0px;
    height: auto;
}
@media (max-width: 592px){
    .mdc-dialog .mdc-dialog__surface {
        max-width: calc(100vw );
    }
    .mdc-dialog .mdc-dialog__surface {
        max-height: calc(100vh);
        min-height: calc(100vh);
    }
    .mdc-dialog__actions{
        justify-content: center;
        padding-bottom: 24px;
        padding-top: 24px;
        margin-bottom: 30px;
    }
    .mdc-icon-button {
        width: 24px;
        height: 24px;
        padding: 0px;}

    
  }