@import "@material/card/mdc-card";
@import "../../globals/variables.scss";
@import "@material/chips/mdc-chips";

.my-card-content {
  padding: 16px;
}

.mdc-card {
  width: 360px;
  margin: auto;
}
.demo-card__primary{
  padding: 16px;
}


.mdc-typography--subtitle2 {
  font-size: 16px;
  line-height: 1.375rem;
  font-weight: 500;
  margin-top: 7px;
  margin-bottom: 8px;
}
.mdc-typography--headline6{
  margin-bottom: 0px;
  margin-top: 10px;
 
}
.mdc-typography--body2{
  font-size: 12px;
}
.app-fab--absolute {
  position: fixed;
  top: 0;
  right: 1rem;
}
.mdc-chip{
  margin-top: 0px;
  margin-right: 8px;
  border-radius: 4px
}
.mdc-typography--headline3{
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 2rem;
}


.white{
  color:#fff;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    top: 0;
    right: 1.5rem;
  }
}