
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

  .mdc-typography--subtitle2{
      margin-top: 4px;
      text-transform: uppercase;
      color:$font-color1;
  }
  .m16{
      margin-top: 16px;
      margin-bottom:16px;
  }

  .container{
      padding: 16px;
  }
  ul{
    list-style-type: none;
    padding: 0px;
  }
  .mdc-list-item__graphic{
      vertical-align: top;
  }
.mdc-typography--headline3{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mdc-dialog .mdc-dialog__content{
      padding: 0px;
      background:$mdc-theme-primary;
      color:$font-color5;
  }
.mdc-icon-button__icon{
    vertical-align: bottom;
  }


.mdc-list-item{
    margin-bottom: 24px;
}

h1{
    font-size: 50px;
    font-weight: 600;
}
.mdc-icon-button {
    width: 24px;
    height: 24px;
    margin-top: 0px;  
}
.close{
    padding: 0px;
    font-size: 30px;
    margin-top: 0px;
}
.mdc-list{
    margin-top: 32px;
}
.mdc-dialog__actions{
    justify-content: center;
    padding-bottom: 24px;
    padding-top: 24px;
}
.text{
    margin-left: 12px;
    width: 80%;
    display: inline-block;
}
.pb30{
    padding-bottom: 32px;
}
.mb20{
    margin-bottom: 20px;
}
.center{
    text-align: center;
}
.fLR{
    float: right;
}
.mr16{
    margin-right: 16px;
}


@media (max-width: 592px){
    .mdc-dialog .mdc-dialog__surface {
        max-width: calc(100vw );
    }
    .mdc-dialog .mdc-dialog__surface {
        max-height: calc(100vh);
        min-height: calc(100vh);
    }
    .mdc-dialog__actions{
        justify-content: center;
        padding-bottom: 24px;
        padding-top: 24px;
        margin-bottom: 30px;
    }
    .mdc-icon-button {
        width: 24px;
        height: 24px;
        margin-top: 30px;  
    }
    .close{
        padding: 0px;
        font-size: 24px;
        height: 24px;
        
        margin-top: 30px;
    }
  }