@import "../../globals/variables.scss";
@import "@material/icon-button/mdc-icon-button";

.rating .mdc-icon-button{
    padding: 0px;
    font-size:14px;
  }
  .rating .mdc-icon-button{
    width: 16px;
    height: 16px;
  }

  .rating div{
      font-size: 13px;
      margin-top: 0px;
      margin-bottom: 14px;
  }